<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <script
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript">
</script>
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}/">Inicio</a>
      <a href="{{ site.baseurl }}/setup/">Preparacion</a>
      <a href="{{ site.baseurl }}/episodes/">Episodios</a>
      <a href="{{ site.baseurl }}/reference/">Referencia</a>
      <a href="{{ site.baseurl }}/instructors/">Instructores</a>
      <a href="{{ site.baseurl }}/learners/">Participantes</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      <div class="footer__logos" aria-label="Colaboradores">
        <a href="https://cozyme.eu/">
          <img src="{{ site.baseurl }}/figures/logo-cozyme-160x34.png" alt="COZYME COST Action">
        </a>
        <img src="{{ site.baseurl }}/figures/COST_LOGO_white_tranparent_small-300x93.png" alt="COST Actions">
        <img src="{{ site.baseurl }}/figures/logo-conicyt-chile-en-marcha.png" alt="Fondecyt">
        <a href="https://iris-cc.cat/">
          <img src="{{ site.baseurl }}/figures/iris-cc-logo.png" alt="IRIS-CC">
        </a>        
        <a href="https://mon.uvic.cat/fcte/">
          <img src="{{ site.baseurl }}/figures/FCTE.png" alt="FCTE">
        </a>
      </div>
      <div class="footer__links">
        <a href="https://mon.uvic.cat/cbbl/">Computational Biochemistry and Biophysics Lab</a>
      </div>
      <div class="footer__copy">&copy; Curso MD - UNAB / UVic</div>
    </footer>
  </body>
</html>
